<!DOCTYPE html>
<html>
  <head>
    <title>PyCon By Video</title>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <script src="//ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js"
            data-dojo-config="async: true"></script>
    <script src="/js/main.js"></script>
  </head>
  <body>
    <h2>PyCon Videos</h2>
    <p id="links">
      <a href="/">Voting</a> -
      <a href="/leaderboard">Leaderboard</a>
    </p>
    <p>(You can vote as many times as you like, for as many talks as you like -- if you're <em>really</em> keen on something, I figure we should take that into account :-))</p>
    <ul id="videos">
      <li class="video">
        <div class="vid-entry">
          <div class="vid-votes">
            <p class="vid-vote-count">20</p>
            <button class="vid-vote-btn" id="vid-vote-00">Vote</button>
          </div>
          <a class="vid-title" href="#">big ol' talky talk</a>
          <span class="vid-speakers">peeps</span>
          <p class="vid-summary">description of the big ol' talky talk</p>
        </div>
        <span style="clear:both;"></span>
      </li>
    </ul>
  </body>
</html>
